@import '../../data/styles/colors.scss';

.ratingItem {
    cursor: pointer;
    color: $primary;

    &:hover {
        color: $default-light;
        background-color: $primary;
    }
}

.barHeight {
    height: 5px;
}

.bg-red {
    background-color: $danger;
}

.bg-yellow {
    background-color: $yellow;
}

.bg-green {
    background-color: $green;
}

.textAlign {
    text-align: left;
}
