@import '../styles/colors.scss';

//--------------------- REQUIRED CLASSES --------------------

.containerMobile {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.containerWeb {
    right: 20px;
    bottom: 110px;
    height: calc(100% - 130px);
    max-height: 600px;
    width: 375px;
    box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.15);
    border-radius: 3px;
}

// ------------------------------------------------------------

.senderBubble, .stackViewNotificationBubble {
    border-bottom-right-radius: 0 !important;
}

.receiverBubble {
    border-top-left-radius: 0 !important;
}

.notificationSenderBubble {
  border-bottom-right-radius: 0 !important;
}

.notificationReceiverBubble {
  border-top-left-radius: 0 !important;
}

.receiverAvatar {
  top: 5px;
  left: - 40px
}

.senderAvatar {
  top: 5px;
  right: - 40px
}

.headerIcon {
    color: $chatbot-header-font-light;

    &:hover {
        color: $chatbot-header-font;
    }
}

.endChatIcon {
    color: $chatbot-header-font;
    border: 1px solid $chatbot-header-font-light;

    &:hover {
        border-color: $chatbot-header-font;
    }
}
