@import '../styles/colors.scss';

//--------------------- REQUIRED CLASSES --------------------

.containerMobile {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.containerWeb {
    right: 20px;
    bottom: 110px;
    height: calc(100% - 130px);
    max-height: 600px;
    width: 375px;
    box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.15);
    border-radius: 3px;
}

.stackViewCloseIcon {
    display: flex;
    cursor: pointer;
    color: $white;
    background-color: #8a8989;
    top: 5px;
    right: 10px;
    border-radius: 50%;
    padding: 2px;

    &:hover {
        background-color: $black-light;
    }
}

// ------------------------------------------------------------

.senderBubble, .stackViewNotificationBubble {
    border-bottom-right-radius: 0 !important;

    // ---------to add tip bubble corner uncomment this
    // &::before {
    //     content: '';
    //     width: 0px;
    //     height: 0px;
    //     position: absolute;
    //     border-left: 4px solid $chatbot-sender-bubble-bg;
    //     border-right: 4px solid transparent;
    //     border-top: 4px solid transparent;
    //     border-bottom: 4px solid $chatbot-sender-bubble-bg;
    //     right: -8px;
    //     bottom: 5px;
    // }
}

.receiverBubble {
    border-top-left-radius: 0 !important;

    // ---------to add tip bubble corner uncomment this
    // &::before {
    //     content: '';
    //     width: 0px;
    //     height: 0px;
    //     position: absolute;
    //     border-left: 4px solid transparent;
    //     border-right: 4px solid $chatbot-server-bubble-bg;
    //     border-top: 4px solid transparent;
    //     border-bottom: 4px solid $chatbot-server-bubble-bg;
    //     left: -8px;
    //     bottom: 5px;
    // }
}

.notificationSenderBubble {
    border-bottom-right-radius: 0 !important;
}

.notificationReceiverBubble {
    border-top-left-radius: 0 !important;
}

.receiverAvatar {
    top: 5px;
    left: -40px;
}

.senderAvatar {
    top: 5px;
    right: -40px;
}

.quickReplyWrapper {
    left: 0;
    right: 0;
}

.headerIcon {
    color: $chatbot-header-font-light;

    &:hover {
        color: $chatbot-header-font;
    }
}

.endChatIcon {
    color: $chatbot-header-font;
    border: 1px solid $chatbot-header-font-light;

    &:hover {
        border-color: $chatbot-header-font;
    }
}
