@import '../styles/colors.scss';

.headerIcon {
    color: $chatbot-header-font-light;

    &:hover {
        color: $chatbot-header-font;
    }
}

.endChatIcon {
    color: $chatbot-header-font;
    border: 1px solid $chatbot-header-font-light;

    &:hover {
        border-color: $chatbot-header-font;
    }
}
