@import "../../data//styles/colors.scss";
@import "../../data/styles/variables.scss";

.oriInputComposerContainer {
    .inputField {
        resize: none !important;
        border: none !important;
        background-color: $chatbot-footer-bg !important;
        color: $chatbot-font-color !important;
        font-size: $font-size-md;
        line-height: 1.2;
        margin-bottom: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;

        &::placeholder {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            color: $chatbot-footer-placeholder;
        }

        &:focus {
            outline: none !important;
            box-shadow: none !important;
        }
    }

    .alignRightIcons {
        bottom: 0px;
        color: $font-color-light;

        &:hover {
            color: $font-color;
        }
    }

    .alignMenuIcon {
        z-index: 99993;
        color: $font-color-light;

        &:hover {
            color: $font-color;
        }
    }

    .sendButton {
        border: none !important;
        background-color: transparent !important;
        color: $font-color-light !important;

        &:hover {
            color: $font-color !important;
        }

        &:focus, &:active {
            outline: none !important;
        }
    }

    .sendBtnActive {
        color: $primary !important;

        &:hover {
            color: $primary !important;
        }
    }
}

.chatbotInputComposer {
    .alignRightIcons {
        right: -60px;
    }

    .alignMenuIcon {
        bottom: 0px;
        left: -24px;
    }
}

.notificationBotInputComposer {
    min-height: 45px;
    max-height: 110px;
    border-radius: 5px;
    padding: 12px 35px 11px 25px;
    background-color: $chatbot-footer-bg;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.15);

    .alignRightIcons {
        bottom: 10px;
        right: 5px;
    }

    .alignMenuIcon {
        bottom: 11px;
        left: 5px;
        z-index: 1;
    }
}
