@import "../../../../data/styles/colors.scss";

.menuOverlay {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99995;
    background-color: $popup_bg;
}

.oriMenuContainer {
    z-index: 99995;
    left: 52px;
    bottom: 60px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

    .alignMenuClose {
        right: 1px;
        top: 8px;
    }

    .menuItem {
        color: $font-color-light;
        border-bottom: 1px solid $border-light;

        &:hover {
            color: $font-color;
            background-color: $default;
        }

        &:last-child {
          border-bottom: none;
        }
    }
}
