@import "../../../../data/styles/colors.scss";

.menuOverlay {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99997;
    background-color: $popup_bg;
}

.oriMenuContainer {
    z-index: 99997;
    left: 52px;
    bottom: 60px;
    min-width: 150px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

    .alignMenuClose {
        right: 1px;
        top: 8px;
    }

    .menuItem {
        p {
            color: $font-color-light;

            &:hover {
                color: $primary;
            }
        }

        &:hover {
            color: $primary;
        }
    }
}
