@import './mixins.scss';

//---------------------- PRIMARY -----------------------

$primary: #ed3837 !default;
$primary-bg-light: tint($primary, 90%);
$btn-fill: $primary;
$btn-fill-hover: tint($primary, 40%);
$btn-fill-font: #fff;
$btn-ghost: $primary;

$gradient-primary: #be2d2c;
$gradient-primary-percent: 0%;
$gradient-secondary: #f48887;
$gradient-secondary-percent: 100%;
$gradient-angle: 90deg;

//--------------------------------------------------------

$white: #ffffff;
$black: #000000;

$default: #f7f7f9;
$default-light: #f9f9fc;
$font-color: #3c4043;
$font-color-light: #abaeb2;
$font-chat: #344050;
$overlay: rgba(0, 0, 0, 0.3);
$border: #e6e6e6;
$border-light: #ebebeb;
$card-bg: rgba(239, 239, 244, 0.3);
$notification-popup-bg: #88898c;
$notification-popup-font-color: $white;

//---------------------- GENERAL COLORS ----------------------

$info: #4da1ff !default;
$success: #90b900 !default;
$warning: #f5a623 !default;
$danger: #ff6d4a !default;
$green: #35cd4a;
$yellow: #ffcb00;

$primary-light: tint($primary, 30%);
$black-light: tint($black, 30%);

$green-bg-light: tint($green, 85%);
$black-bg-light: tint($black, 85%);

$primary-dark: shade($primary, 15%);
$black-dark: shade($black, 15%);

$primary-lighter: tint($primary, 40%);
$primary-darker: shade($primary, 20%);

//---------------------- CHATBOT SPECIFIC COLORS ----------------------

$typewriter-font-color: $primary;
$timestamp-tag-bg-color: $white;
$timestamp-tag-font-color: $font-color;
$chatbot-header-bg: $white;
$chatbot-header-font: $font-color;
$chatbot-header-font-light: $font-color-light;
$chatbot-body-bg: $default;
$chatbot-footer-bg: $white;
$chatbot-font-color: $font-chat;
$chatbot-server-bubble-bg: $white;
$chatbot-server-bubble-font: $font-chat;
$chatbot-server-bubble-footer-font: $font-color-light;
$chatbot-sender-bubble-bg: $primary;
$chatbot-sender-bubble-font: $white;
$chatbot-sender-bubble-footer-font: $white;
$chatbot-footer-placeholder: $font-color-light;
$chatbot-sender-gradient-bubble-font: $font-chat;
$notification_bot_server_bubble_bg: $default;
$notification_bot_server_bubble_font: $font-chat;
$notification_bot_sender_bubble_bg: $primary;
$notification_bot_sender_bubble_font: $white;
$notification_stack_bubble_bg: #666;
$notification_stack_bubble_font: $white;
$popup-bg: $white;
$popup-bg-hover: $default;
$popup-font: $font-chat;
$popup-font-light: $font-color-light;

