@import '../../data/styles/colors.scss';
@import '../../data/styles/mixins.scss';

.closeIconContainer {
    color: $white;
    box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.24);

    &:hover {
        background-color: $primary-light;
    }
}
