@import "../../../../data/styles/colors.scss";

.oriQuickReplyContainer {
    padding: 4px 25px;

    .alignLeft {
        left: -4px;
    }

    .alignRight {
        right: -4px;
    }

    .quickReplyBodyContainer {
        overflow-x: scroll;
        overflow-y: hidden;
        -ms-overflow-style: none;
        -ms-overflow-style: none; // IE 10+
        overflow: -moz-scrollbars-none; // Firefox

        &::-webkit-scrollbar {
            display: none;
        }

        .quickReplyTrack {
            transition: transform 0.5s ease !important;
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }
}
