@import '../../../../data/styles/colors.scss';

.oriQuickReplyContainer {
    padding: 2px 22px;
    z-index: 111;

    .alignLeft {
        top: 2px;
        left: -8px;
        z-index: 1;
        padding-left: 5px;
    }

    .alignRight {
        top: 2px;
        right: -8px;
        z-index: 1;
        padding-right: 5px;
    }

    .quickReplyBodyContainer {
        overflow-x: scroll;
        overflow-y: hidden;
        -ms-overflow-style: none; // IE 10+
        overflow: -moz-scrollbars-none; // Firefox

        &::-webkit-scrollbar {
            display: none;
        }

        .quickReplyTrack {
            transition: transform 0.5s ease !important;
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }
}
